.settings
.idea
application/config/**/application.php
application/data/**
sites/example/site_data.php
logs/**
tmp/**
cache/**
public/**
!public/scripts/JetAjaxForm.js
!public/styles/admin_main.js
!public/styles/flags.js
!public/styles/site_main.js
!public/images/flags.png
