library/Zend
library/Stubs
application/sites/**
application/config/**/config.php
application/logs/**
application/tmp/**
application/cache/**
application/data/**
public/*
!public/scripts/Jet
.settings
.idea
