library/Zend
library/Stubs
sites/**
dictionaries/**
application/config/**/application.php
application/logs/**
application/tmp/**
application/cache/**
application/data/**
public/*
!public/scripts/Jet
.settings
.idea
